.playlist{
    width: 1480px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #666;
    height: 120px;
}

.Menu{
    float: left;
}

#acMenu dt{
display:block;
width:200px;
height:50px;
line-height:50px;
text-align:center;
border:#666 1px solid;
cursor:pointer;
}
#acMenu dd{
background:#f2f2f2;
width:200px;
height:50px;
line-height:50px;
text-align:center;
border:#666 1px solid;
display:none;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 1080px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #666;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  text-align: center;
  background: #fff;
  padding: 30px;
}
 
.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.65);
  z-index: 1;
}
 
.modal-open,
.modal-close {
  cursor: pointer;
}